---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
//import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

//import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Dr Tasneem`s Institute of Health',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Dr. Tasneem's Institute of Health"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Register',
        href: '#',
        icon: 'tabler:calendar-dot',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Empowering <span class="hidden sm:inline">the Future of </span>
      <span class="text-accent dark:text-white highlight">Aesthetic</span> and Medical Excellence
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Dr. Tasneem's Institute of Health, a pioneering institution dedicated to advancing education and
      training in aesthetic medicine, health, and wellness.
    </Fragment>

    <!--Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment-->
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="About us"
    subtitle="Our institute is more than just a training center—it’s a gateway to professional success and innovation. Whether you’re a student seeking a rewarding career or an investor looking to support cutting-edge education, Dr. Tasneem's Institute of Health offers unparalleled opportunities for growth and impact."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <!-- Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /-->

  <!-- Brands Widget ****************** -->

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At our Institute, we believe in the power of collaboration to drive innovation and create exceptional educational advances."
    icons={[]}
    images={[
      {
        src: '~/assets/images/dow.png',
        alt: 'DUHS',
      },
      {
        src: '~/assets/images/sbte.jpeg',
        alt: 'SBTE',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Courses"
    subtitle="We offer a range of 4 skill-training programs designed to meet the demands of the growing aesthetic and healthcare industries"
    items={[
      {
        title: 'Non-Invasive Beautician',
        description:
          'Master the art of non-invasive beauty treatments, from skincare to advanced aesthetic procedures.',
        icon: 'flat-color-icons:survey',
      },
      {
        title: 'Aesthetic Technologist',
        description:
          'Dive deep into both invasive and non-invasive techniques, including: PRP (Hair & Face) Fillers, Threads, Botox, Hydrafacial, Skin Rejuvenation and more',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Health and Nutrition',
        description:
          'Learn the science of nutrition and its role in overall health and wellness, with a focus on practical applications.',
        icon: 'flat-color-icons:shop',
      },
      {
        title: 'Cupping Therapy',
        description:
          'Explore traditional and modern techniques in cupping therapy, a growing field in holistic health.',
        icon: 'flat-color-icons:close-up-mode',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Our Commitment to Excellence"
    subtitle="Dr. Tasneem's Institute of Health is designed to meet the needs of aspiring professionals and investors in the fields of aesthetic medicine, health, and wellness. Here are the key features that"
    columns={2}
    items={[
      {
        title: 'Cutting-Edge Curriculum',
        description:
          'Our courses are designed to reflect the latest advancements in aesthetic technology, health, and nutrition, ensuring students are equipped with up-to-date, industry-relevant knowledge.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Expert Faculty and Training',
        description:
          'In partnership with the Sindh Board of Technical Education (SBTE) and affiliated with Dow University of Health Sciences (DUHS), our certifications are recognized globally, opening doors to career opportunities both locally and abroad.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Internationally Recognized Certifications',
        description:
          'Easily customizable, allowing users to adapt the design, colors, typography, and content to match their brand identity.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Gateway to Immigration Programs',
        description:
          'Our internationally accredited programs serve as a pathway for students to pursue careers and further education in countries with high demand for skilled professionals.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!--FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'Why should I use a template?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'Can I preview templates before buying?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs-->

  <!-- Features3 Widget ************** -->

  <Features3
    title="Get in Touch"
    subtitle="We’re here to help and answer any question you might have."
    columns={2}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_self',
        text: 'Get in Touch',
        href: 'tel:+92 335 1313259',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Partner with us to support the future of technical education and tap into the growing demand for skilled
      professionals in the aesthetic and healthcare sectors.
    </Fragment>
  </CallToAction>
</Layout>
